body {
    margin-left: 40%;
}

/* style of all buttons*/
.buttons {
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: cadetblue;
}
.buttons:hover {
    background-color: black;
    color: cadetblue;
}

/* style of all images */
img {
    width: 20%;
}

/* Show second image mirror-inverted */
#myOtherImage {
    -moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	-ms-filter: "FlipH";
	filter: FlipH;
}


